.container_fluid {
	width: 100%;
}

.title_logo {
	font-size: 120px;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 100px;
	margin-top: 50px;
	background: none;
	text-align: center;
}

.title_logo > a {
	text-decoration: none;
}

.setting_value_slider {
	width: 700px;
	height:20px;
	text-align: center;
	-webkit-appearance: none;  
	-moz-appearance: none;
	appearance: none;
	margin-top: 10px;
	margin-bottom: 40px;
}  

.setting_value_slider::-webkit-slider-thumb {  
	-webkit-appearance: none;  
	-moz-appearance: none;
	appearance: none;
	width: 20px;  
	height: 40px;  
}  
.setting_display, .move_counter, .instructions > h3 {
	font-weight: 100;
	font-size: 70px;
}

.setting_value, .moves {
	font-weight: 700;
}

.btn-huge {
	font-size: 100px;
	line-height: 120px;
	padding: 18px 18px 19px;
}

.back {
	font-weight: 300;
	position: fixed;
	top: 10px;
	left: 10px;
	text-decoration: none;
}

.instructions {
	text-align: left;
}

.instructions > ul > li {
	line-height: 30px;
	font-size: 30px;
	height: auto;
	padding: 5px;
}

.move_counter {
	display: none;
	text-align: right;
}

.instructions {
	display: none;
	font-weight: 300;
}

.fluzzle_panel {
	text-align: center;
}

.result_panel {
	font-weight: 100;
	line-height: 90px;
	font-size: 60px;
	text-align: center;
}

.play_again {
	margin-top: 50px;
}
